<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script th:src="@{/js/DataTable.js}" src="/js/DataTable.js"></script>

  <title>Data table</title>
</head>
<body>
<div class="sticky-top">
<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add new data</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Datatable"><i class="fa fa-folder"></i> View data</a>
        </li>
    </ul>
</nav>
</div>

<!-- Data tables -->
<div class="container">
    <div class="row">
        <div class="col-7 mt-5 mb-5">
            <div class="card shadow">
                <div class="card-body">

                <table id="idTable" class="table table-striped table-hover">
                <h3> Select a Farm
                <small class="text-muted">(click on a row for more information)</small>
                </h3>
                <caption>List of Farms</caption>
                <thead class="thead-dark">

                <tr>
                    <th scope="col">Farm ID</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
                </div>
                <div id="wait" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>

        </div>

        <div class="col-5 mt-5 mb-5">
            <div class="card shadow">
                <div class="card-body">

                <table id="dataTable" class="table table-striped">
                <h3> Measurements</h3>
                <caption>List of measurements from selected farm</caption>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Farm ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Contaminated</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
                </div>
            </div>
            </div>
        </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <div class="footer">
        <p>van Stad tot Wad GIS WebApp - <i>by Jildou Haaijer, Chenoa van Nassau & Liesje Bloembergen</i></p>
    </div>
</footer>
</body>
</html>
