<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to the page</title>

    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="Welcome.html"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="Gis.html"><i class="fa fa-globe"></i> GIS</a>
    <a href="Add.html"><i class="fa fa-folder"></i> Add data</a>
</div>
<h1 align="center">Welcome</h1>

<p th:text="#{introduction}"> Introduction </p>

<p>
Jildou Haaijer, Chenoa van Nassau and Liesje Bloembergen
</p>

<p>
Bio-informatics, Hanzehogeschool Groningen
</p>

</body>
</html>