/* Body of the pages */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Navbar styling */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
}

.topnav a {
    float: right;
    text-align: center;
    list-style-type: none;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #3881af;
    color: white;
}

/* Body styling */
html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#infoDiv {
    height: 0px;
    padding: 0px;
    width: 280px;
}

#infoDiv span {
    color: #f9c653;
    font-size: 12pt;
    font-weight: bolder;
}

/* Footer styling */
.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    overflow:auto;
    float: right;
}

/* Some extra styling*/
form {
    overflow: hidden;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

fieldset {
    width: 500px;
}

legend {
    font-size: 20px;
}

button {
    float: left;
    width: calc(40% - 200px);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Styling for date-picker */
.date-picker-button {
    color: #fff;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    width: 300px;
}

.input-group {
    position: relative;
    margin-bottom: 10px;
    display: block !important;
    width: 300px;
    border: none;
}

.date-picker-button .date-picker-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: none;
    width: 300px;
    padding-left: 55px;
}


.fa.fa-angle-down {
    float: right;
    color: white;
    font-size: 20px !important;
    font-weight: 600;
    top: 0 !important;
    position: relative;
    margin-right: 24px;
}

.fa-calendar-o {
    color: white !important;
    z-index: 1;
    top: 0 !important;
    position: relative !important;
}

/* Popup styling */
.popup-title-container {
    justify-content: space-between;
}
.popup-chart-container {
    min-height: 100px;
    height: 130px;
}
/* Center popup title and increase height for chart on small screens */
@media only screen and (max-width: 580px) {
    .popup-title-container {
        justify-content: center;
    }
    .popup-chart-container {
        height: 200px;
    }
}
/* Create an overlay spanning the popup body */
.popup-overlay {
    position:absolute;
    background-color: #f7f1e3;
    box-sizing: border-box;
    top: 42px;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 50;
}

/* Carousel styling */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 10px;
    min-width: 100%;
    width: 100%;
    line-height: 0.5px;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Footer container styling */
.container-footer {
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
}

/* Contact styling */
section#contact {
    background-color: #333;
    background-image: url("../images/world.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #f2f2f2;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 15px;
}

section#contact .form-group input.form-control {
    height: 50px;
}

section#contact .form-group textarea.form-control {
    height: 115px;
}
