<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Zone 1:
    <p th:text="${Zones[1]}">_heartrate placeholder_</p> Low heart rate with hardly any training effect

    Zone 2:
    <p th:text="${Zones[2]}">_heartrate placeholder_</p> Heart rate with positive effect on breathing and stress reduction

    Zone 3:
    <p th:text="${Zones[3]}">_heartrate placeholder_</p> Heart rate with optimal training effect with respect to fat burning, general condition and brain functioning

    Zone 4:
    <p th:text="${Zones[4]}">_heartrate placeholder_</p> Zone for improving (long-distance) running speed

    Zone 5:
    <p th:text="${Zones[5]}">_heartrate placeholder_</p> Above anaerobic threshold; only during interval training to increase speed (also for shorter distances).


</body>
</html>