<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/GetLocation.js}" src="/js/GetLocation.js"></script>

<body>

<!--<div id="carousel" class="carousel slide" data-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--        <div class="carousel-item">-->
<!--            <a href="#"><img src="../images/vstw.png" /></a>-->
<!--            <div class="carousel-caption">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <a href="#"><img src="../images/world.png" /></a>-->
<!--            <div class="carousel-caption">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item active">-->
<!--            <a href="#"><img src="../images/data.png"/></a>-->
<!--            <div class="carousel-caption">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
<div class="sticky-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Welkom <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add</a>
      </li>
    </ul>
  </nav></div>

<div class="container">
  <div class="row">
    <div class="form col-8">
      <br>
      <form action="/Add" method="POST" class="needs-validation" novalidate>
        <p class="h4 mb-4"> Input new data </p>
        <div class="form-group">
            <label for="FarmID">Farm id</label>
              <input class="form-control" placeholder="Enter Farm ID" type="number" name=farm min="1" id="FarmID" aria-describedby="basic-addon3" required>
              <div class="invalid-feedback">
                Please enter Farm id.
              </div>
        </div>
        <div class="form row">
          <div class="col-5 form-group">
            <label for="Lat">Latitude</label>
            <input type="text" class="form-control" name=latitude placeholder="latitude" id="Lat" required>
          </div>
          <div class="col-5 form-group">
            <label for="Long">Longitude</label>
            <input type="text" class="form-control" name="longitude" placeholder="longitude" id="Long" required>
          </div>
          <div class="col-2 form-group">
              <label for="location">&nbsp;</label>
              <button id="location" class="btn btn-primary" style="width:75px;" type="button"  onclick="getLocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
          </div>
        </div>
          <div class="sd-container form-group">
            <label for="validationCustom03"> Date</label>
            <div class="input-group">
              <input id="validationCustom03" class="sd form-control datepicker" type="date" name="selected_date" required>
            </div>
            <div class="invalid-feedback">
              Please provide a valid date.
            </div>
          </div>
          <div class="form-group">
            <label for="validationCustom04">Contamination</label>
            <select class="custom-select" id="validationCustom04" name="contamination" required>
              <option selected disabled value="">Choose...</option>
              <option value="TRUE" th:text="#{TRUE}"></option>
              <option value="FALSE" th:text="#{FALSE}"></option>
            </select>
            <div class="invalid-feedback">
              Please select a valid value.
            </div>
            <p th:text="${dataApproved}"></p>
          </div>
        <div class="input-group">
          <input class="btn btn-primary" type="submit" th:value="#{Submit}" name="csv_file">
        </div>

      </form>
    </div>
    <div class="form col-4">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <br />
        <p class="h4 mb-4"> Input new datafile </p>
          <div class="form-group">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="fileToUpload" id="csvinput" aria-describedby="inputGroupFileAddon04" accept=".csv" required>
                <label class="custom-file-label" for="csvinput">Choose file</label>
              </div><br>
              <div class="input-group">
                <input class="btn btn-primary" type="submit" id="inputGroupFileAddon04" th:value="#{Submit}" name="csv_file">
              </div>
            </div>
          </div>
        <p th:text="${fileApproved}"></p>
      </form>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<!--<p>If you click the "Submit" button, the form-data will be sent to the csv file.</p>-->
<footer class="page-footer font-small blue">
  <div class="footer">
    <p>van Stad tot Wad GIS WebApp - <i>by Jildou Haaijer, Chenoa van Nassau & Liesje Bloembergen</i></p>

  </div>
</footer>
</body>
</html>
