<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GIS</title>

    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/themes/dark/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://js.arcgis.com/4.13/"></script>
    <script th:src="@{/js/GisMap.js}" src="/js/GisMap.js"></script>
<!--    <script th:src="@{/js/BarGraph.js}" src="/js/BarGraph.js"></script>-->

<style>

    html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    /*#timeSliderDiv {*/
    /*    position: absolute;*/
    /*    left: 100px;*/
    /*    right: 100px;*/
    /*    bottom: 30px;*/
    /*}*/

    #infoDiv {
        height: 0px;
        padding: 0px;
        width: 280px;
    }

    #infoDiv span {
        color: #f9c653;
        font-size: 12pt;
        font-weight: bolder;}
</style>
</head>
<body>
<!--<div id="carousel" class="carousel slide" data-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item">-->
<!--      <a href="#"><img src="../images/vstw.png" /></a>-->
<!--      <div class="carousel-caption">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item active">-->
<!--      <a href="#"><img src="../images/world.png" /></a>-->
<!--      <div class="carousel-caption">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a href="#"><img src="../images/data.png"/></a>-->
<!--      <div class="carousel-caption">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="sticky-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Welkom <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add</a>
      </li>
    </ul>
  </nav></div>
<!--<div id="chartContainer" style="height: 370px; width: 100%;"></div>-->



<div style="height: 85%;">
    <div id="infoDiv"></div>
    <div id="viewDiv"></div>
    <div id="timeSliderDiv"></div>

</div>


</body>
</html>
