<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/DataTable.js}" src="/js/GisMap.js"></script>
<!--    <script th:src="@{/js/Table.js}" src="/js/Table.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></script>
</head>

<body>

<div class="sticky-top">
<!--    <li class="pull-left">-->
        <a href="https://www.vanstadtotwad.nl/"><img src="/images/vanstw.png" class="pull-left img-responsive" width="30" height="45"> </a>
<!--    </li>-->
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add</a>
            </li>
        </ul>

    </nav>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-item active">
                <a href="#"><img src="../images/data2.jpg" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="../images/map.jpg" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="../images/farm2.jpg" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin"></h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h3><em>Project</em></h3>
            <p align="left" th:text="#{introduction}"></p>
<!--            <img src="../images/vstw.png" class="rounded-circle" style="width:100%" alt="Image">-->
        </div>
        <div class="col-sm-4">
            <h3><em>Webapplication</em></h3>
            <p align="left" th:text="#{Webapp}"></p>
            <p></p>
            <p></p>
<!--            <img src="../images/world.jpg" class="rounded-circle" style="width:100%" alt="Image">-->
        </div>
        <div class="col-sm-4">
            <h3><em>Contact us</em></h3>
            <section class="mb-4">
                <div class="row">
                    <div class="form col-8">
                        <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter name">
                                        <label for="name" class=""></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="email" name="email" class="form-control" placeholder="Enter email">
                                        <label for="email" class=""></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Enter message"></textarea>
                                        <label for="message"></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-md-left">
                            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                        </div>
                        <div class="status"></div>

                    </div>

                </div>

            </section>

        </div>
    </div>
</div>

<p align="center" th:text="#{bioinf}"></p>

<footer class="page-footer font-small blue">
    <div class="footer">
        <div id="footer-images">
            <li class="pull-left">
                <img src="../images/hanze.png">
            </li>
            <p>van Stad tot Wad GIS WebApp - <i>by Jildou Haaijer, Chenoa van Nassau & Liesje Bloembergen </i></p>
        </div>
    </div>
</footer>

</body>
</html>

